.create-button {
    display: block; /* Makes the button a block-level element */
    margin: 100px auto; /* Vertically spaces the button and centers it horizontally */
    padding: 10px 20px; /* Optional: Adjusts the size of the button */
}
  
  
.header-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.header-container h2 {
	margin-right: 10px; /* Add some spacing between heading and search bar */
}

table {
	/* border: 2px solid rgb(0, 0, 0); */
	width: 80%;
	height: 100%;
}

td {
	text-align: center;
}
.table-row {
	position: relative;
}
  
.table-row::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: gray;
}