/* Style the navigation bar*/
.header {
  background: linear-gradient(to right, #BFB9FA, #ade6e6);
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.logo-and-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo-and-name {
  display: flex;
  align-items: center;
}

.App-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}

.website-name {
  font-family: "Bungee", sans-serif;
  font-size: 30px;
  margin-right: 10px;
  color: white;
}

/* Style the links inside the navigation bar */
.header a, b {
  font-family: "Josefin Sans", sans-serif;
  float: middle;
  color: white;
  /* text-align: right; */
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.header a:hover, b:hover {
  color: black;
}